.a1{
	background-color: #ff1a1a;
	width:300px;
}
.a2{
	background-color: #3333ff;
	width:300px;
}
.a3{
	background-color:  #ffd633;
	width:300px;
}
.a4{
	background-color: #5cd65c;
	width:300px;
}
.a5{
	background-color: #80d4ff;
	width:300px;
}
.a6{
	background-color: #1a75ff;
	width:300px;
}
.a7{
	background-color: #a64dff;
	width:300px;
}
.a8{
	background-color: #ff1aff;
	width:300px;
}